<head>
	<link href= "/public/assets/style.css" rel="stylesheet" type="text/css"></link>
</head>

<body>
	</script>
	<nav class="navbar stciky-top navbar-dark bg-black">
		<a class="navbar-brand" href="#">INFORMATION MANAGER</a>
		<div class="divider2"></div>
		<button class="btn" id="btn2"></button>
	</nav>
	<br>
	<br>
	<br>
	<section id="cover">
			<div id="cover-caption">
				<div id="container" class="container">
					<div class="row text-white">
						<div class="col-sm-6 offset-sm-3 text-center">
							<h1 class="display-4">SIGN IN</h1>
							<br>
							<br>
							<% include ./partials/messages %>
							<div class="info-form">
								<form action="/users/login" class="form-inlin justify-content-center " method="POST">
									<div class="form-group" id="email2">
										<label class="sr-only">Email</label>
										<input type="email" id="email" class="form-control" placeholder="EMAIL">
									</div>
									<br>
									<div class="form-group">
										<label class="sr-only">Password</label>
										<input type="password" id="password" class="form-control" placeholder="PASSWORD">
									</div>
									<br>
									<br>
									<button type="submit" class="btn" id="signInBtn" style="font-size: 20px">LOGIN</button>
									<div class="divider"></div>
									<button type="submit" class="btn" id="signUpBtn" style="font-size: 20px">REGISTER</button></a>
								</form>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
	</section>
	<script src="index.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>