body {
    background-color: rgb(0, 0, 0)
}
html,
body{
 height: 100%;
}

#cover {
  background: rgb(0, 0, 0);
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

#cover-caption {
  width: 100%;
}

.form-group {
    background: black
}

.navbar {
  position: relative;
  right:220px;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 0px;
  width: 140%;
  height: 50px;
  padding-left: 650px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-group {
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  background-color: red;
}


input[type="text"], textarea {
  border-radius: 20px;
  background-color : #000000; 
  border: black;
  text-align: center;
}

#signInBtn {
  border-radius: 30px;
  background-color : #000000; 
  border: 2px solid  #0044ff;
  text-align: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  
}
#signInBtnLOG {
  border-radius: 30px;
  background-color : #000000; 
  border: 2px solid purple;
  text-align: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  
}

#signUpBtn {
  border-radius: 30px;
  background-color : #000000; 
  border: 2px solid hotpink;
  text-align: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  right: 0px;
}

.divider {
  width:80px;
  height:auto;
  display:inline-block;
}

#btn2 {
  position: absolute;
  left: 1470px;
  height: 20px;
  width: 20px;
  padding-right: 0px;
  border-radius: 50%;
  background-color : #c23434; 
  border: 1px solid #dd0000;
}

.div2 {
  width:1px;
  height:auto;
  display:block;
}

#saved {
  color: white;
  font-size: 30px;
  text-align: center;
}

#btnE {
  border-radius: 30px;
  background-color: red;
  color: white;
  position: absolute;
  right: 40px;
  top:80px;
}
#btnS {
  border-radius: 30px;
  border: none;
  background-color: rgb(83, 204, 83);
  color: white;
  position: absolute;
  right: 160px;
  top:80px;
}

.rect {
  position: absolute;
  border-radius: 30px;
  border: 1px solid;
  background-color: rgb(129, 123, 123);
  height: 550px;
  width: 1440px;
  right: 50px;
  left: 50px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

#info {
  background-color: white;
  width: 600px;
  left: 400px;
  align-items: center;
  text-align: center;
  position: relative;
  top: 8px;
  color: black;
}

.recta {
  display: inline-block;
  position: relative;
  border-radius: 30px;
  border: 1px solid;
  background-color: black;
  height: 52px;
  width: 1400px;
  padding-left: 10px;
}

#info2 {
  display: inline-block;
  position: absolute;
  background-color: black;
  width: 300px;
  top: 8px;
  color: white;
}

.form-control::-webkit-input-placeholder{
  color: white;
}

#info::-webkit-input-placeholder{
  color: black;
}

#email {
    color: white;
    background-color: black;
    border-radius: 30px;
    text-align: center;
}

#logout {
  border-radius: 30px;
  border: none;
  background-color: rgb(83, 168, 238);
  color: white;
  position: absolute;
  right: 240px;
  top:80px;
}

#signUpBtnENT {
  border-radius: 30px;
  background-color : #000000; 
  border: 2px solid #0044ff;
  text-align: center;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  right: 0px;
}

#password {
  color: white;
  background-color: black;
  border-radius: 30px;
  text-align: center;
}