<div>

    for password in passwords do
  
    <div></div>
  
    end
  
  </div>

  <form action="/passwords" method="post" class="form-inline justify-content-center">

    <label class="sr-only">Name</label>
  
    <input type="text" class="form-control" name='name' style="color: white" placeholder="Name">
  
  
  
    <label class="sr-only">Password</label>
  
    <input type="text" class="form-control" name='password' placeholder="Password">
  
  </form>